
 @font-face {
    font-family:'omnesmedium';
    src:url('fonts/omnes-medium-webfont.eot');
    src:url('fonts/omnes-medium-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/omnes-medium-webfont.woff') format("woff"), url('fonts/omnes-medium-webfont.ttf') format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face {
    font-family:'omnesbold';
    src:url('fonts/omnes-bold-webfont.eot');
    src:url('fonts/omnes-bold-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/omnes-bold-webfont.woff') format("woff"), url('fonts/omnes-bold-webfont.ttf') format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face {
    font-family:'omneslight';
    src:url('fonts/omnes-light-webfont.eot');
    src:url('fonts/omnes-light-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/omnes-light-webfont.woff') format("woff"), url('fonts/omnes-light-webfont.ttf') format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face {
    font-family:'omnesmedium_italic';
    src:url('fonts/omnes-mediumitalic-webfont.eot');
    src:url('fonts/omnes-mediumitalic-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/omnes-mediumitalic-webfont.woff') format("woff"), url('fonts/omnes-mediumitalic-webfont.ttf') format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face {
    font-family:'omnessemibold';
    src:url('fonts/omnes-semibold-webfont.eot');
    src:url('fonts/omnes-semibold-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/omnes-semibold-webfont.woff') format("woff"), url('fonts/omnes-semibold-webfont.ttf') format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face {
    font-family:'omnes_regularregular';
    src:url('fonts/omnes-regular-webfont.eot');
    src:url('fonts/omnes-regular-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/omnes-regular-webfont.woff') format("woff"), url('fonts/omnes-regular-webfont.ttf') format("truetype");
    font-weight:normal;
    font-style:normal
}

#animatedModalBoasVindaLogin a.btn {
	position:relative;
	width:100px;
	height:100px;
	background:#E74B3D;
	border-radius:50%;
	line-height:100px;
	color:#ffF;
	font-size:25px;
	text-decoration:none;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
	padding:0px;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
	/*transition*/
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

#animatedModalBoasVindaLogin a.btn:hover {
	color:#fff;
	-webkit-transform:scale(1.1);
	-ms-transform:scale(1.1);
	transform:scale(1.1);
}

#animatedModalBoasVindaLogin svg:hover {
    fill: #fce57e;
}
/************************************
 * UI 
************************************/
#animatedModalBoasVindaLogin button.btn-white {
	font-family: 'Lato';
	background: none;
	border-bottom:0px;
	border-radius: 0px;
	font-weight: 900;
	padding: 10px 0px;
	outline:none;

}
#animatedModalBoasVindaLogin .btn-white i {
	position:relative;
	left:0px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

#animatedModalBoasVindaLogin.btn-white:hover > i {
	position:relative;
	left:4px;
}

#animatedModalBoasVindaLogin .btn-white > i {
	font-size: 35px;
	top: 4px;
	margin-left: 4px;
	position: relative;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

#animatedModalBoasVindaLogin.thumb > img {
	width:100%;
}

#animatedModalBoasVindaLogin.btn-black {
	background:transparent;
	border:2px solid #333;
	outline:none;
	color:#333;
	padding:15px 25px;
	font-family:'Lato';
	margin:20px;
	font-weight:900;
	letter-spacing:1.1px;
	border-radius:5px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

#animatedModalBoasVindaLogin .btn-black:hover {
	background:transparent;
	border:2px solid #359491;
	background:#39BEB9;
	outline:none;
	color:#fff;
}

#animatedModalBoasVindaLogin .btn-black > i {
	font-size:19px;
	margin-left:10px;
}

#animatedModalBoasVindaLogin #am-table >  thead {
	color: #E74B3D;
}
/************************************
 * Animation Container
************************************/
#animatedModalBoasVindaLogin #animation-container {
	position: relative;
	max-width: 968px;
	bottom: -60px;
	height: 400px;
	margin: 0 auto;
}

/*Resize Browser Animation*/
@media (max-width: 767px) {
	#animatedModalBoasVindaLogin #browser-container {
		width:550px;
		height:auto;
	}
}
@media (max-width: 600px) {
	#animatedModalBoasVindaLogin #browser-container {
		width: 450px;
		height: 273px;
	}
	#animatedModalBoasVindaLogin #animation-container {
		height: 300px;
	}
}

@media (max-width: 500px) {
	#animatedModalBoasVindaLogin #browser-container {
		width: 350px;
		height: 212px;
	}
	#animatedModalBoasVindaLogin #animation-container {
		height: 242px;
	}
	#animatedModalBoasVindaLogin .project-title {
		font-size:35px;
	}
}

@media (max-width: 400px) {
	#animatedModalBoasVindaLogin #browser-container {
		width: 250px;
		height: 152px;
	}
	#animatedModalBoasVindaLogin #animation-container {
		height: 184px;
	}
	#animatedModalBoasVindaLogin .project-title {
		font-size:25px;
	}

}
/************************************
 * Helper Classes
************************************/
#animatedModalBoasVindaLogin .mt {
	margin-top:40px;
}

#animatedModalBoasVindaLogin .mb {
	margin-bottom:40px;
}

#animatedModalBoasVindaLogin .number {
	position: relative;
	width: 35px;
	height: 35px;
	display:inline-block;
	border-radius: 50%;
	border: 1px solid #000;
	text-align: center;
	line-height:35px;
	margin-right:10px;
}

#animatedModalBoasVindaLogin h4.title {
	height:35px;
	line-height:35px;
	margin-bottom:35px;
}
/************************************
 * Close button
************************************/
#animatedModalBoasVindaLogin #closebt-container {
	position: relative;
	width:100%;
	text-align:center;
	margin-top:40px;
}

#animatedModalBoasVindaLogin .closebt {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	cursor:pointer;
}

#animatedModalBoasVindaLogin .closebt:hover {
	transform:rotate(90deg);
}

#animatedModalBoasVindaLogin #item > p  {
	margin:0px;
	color:#E74B3D;
}
/************************************
 * Sections
************************************/
#animatedModalBoasVindaLogin section#section-top  {
	position:relative;
	width:100%;
	max-height:500px;
	background:#E74B3D;
	color:#fff;
	float:left;
	text-align:center;
	overflow:hidden;
}

#animatedModalBoasVindaLogin section#section-default {
	position:relative;
	width:100%;
	min-height:100px;
	padding:40px 0px 40px 0px;
	float:left;
	text-align:center;
	overflow:hidden;
}
#animatedModalBoasVindaLogin section#section-button {
	position:relative;
	width:100%;
	padding: 10px 0px 17px 0px;
	float:left;
	text-align:center;
	overflow:hidden;
}
/*Section Colors*/
#animatedModalBoasVindaLogin section[bgColor='emerald'] { 
	background:#39BEB9;
}
#animatedModalBoasVindaLogin section[bgColor='alazarin'] { 
	background:#E74B3D;
}
#animatedModalBoasVindaLogin section[bgColor='white'] { 
	background:#fff;
}
#animatedModalBoasVindaLogin section[bgColor='whitesmoke'] { 
	background:#f7f7f7;
}
/************************************
 * Footer
************************************/
#animatedModalBoasVindaLogin footer#footer {
	position:relative;
	float:left;
	width:100%;
	min-height:200px;
}

#animatedModalBoasVindaLogin #footer-col > p,
#animatedModalBoasVindaLogin a {
	color:grey;
}

#animatedModalBoasVindaLogin #footer-col > p,
#animatedModalBoasVindaLogin a:hover {
	text-decoration:none;
	color:#39BEB9;
}

#animatedModalBoasVindaLogin div#col-icons {
	border-right:1px solid #eee;
}

#animatedModalBoasVindaLogin #footer-sign {
	padding:25px;
	font-family:'Lato';
	text-transform:uppercase;
}

/************************************
 * CROSS BROWSER SECTION
************************************/

@media (min-width: 1200px) {
	#animatedModalBoasVindaLogin #b-icons > .col-lg-3 {
	width: 20%;
	}
}

@media (min-width: 768px) {
	#animatedModalBoasVindaLogin #b-icons > .col-lg-3 {
		width: 25%;
	}
}

@media (min-width: 992px) {
	#animatedModalBoasVindaLogin #b-icons > .col-md-3 {
		width: 10%;
	}
}

@media (min-width: 768px) {
	#animatedModalBoasVindaLogin #b-icons >  .col-sm-3 {
		width: 20%;
	}
}


/************************************
 * LET'S HELP THE WORLD SECTION
************************************/
#animatedModalBoasVindaLogin #icon-share {
	position:relative;
	min-height:280px;
	line-height:280px;
}

@media (max-width: 767px) {
	#animatedModalBoasVindaLogin #icon-share {
		min-height:0px;
		line-height:0px;
	}
}


/************************************
 * Modal Styles
************************************/
#animatedModalBoasVindaLogin #modal-container {
	position:relative;
	margin-top:100px;
	overflow:hidden;
}


/************************************
 * SVG ANIMATIONS
************************************/
#animatedModalBoasVindaLogin #browser-container {
	position:relative;
	top:500px;
}

#animatedModalBoasVindaLogin #btn-openModal {
    -webkit-transform-origin: center center;
            transform-origin: center center;
	opacity:0;

}

#animatedModalBoasVindaLogin #cursor{
	position:relative;
	top:-100px;
}

#animatedModalBoasVindaLogin #modal {
    -webkit-transform-origin: center center;
            transform-origin: center center;
	opacity:0;
}

#animatedModalBoasVindaLogin #modal-btn-close {
    -webkit-transform-origin: center center;
            transform-origin: center center;
	opacity:0;
}

#animatedModalBoasVindaLogin #el-01,
#animatedModalBoasVindaLogin #el-02,
#animatedModalBoasVindaLogin #el-03  
{
    -webkit-transform-origin: center center;
            transform-origin: center center;
	opacity:0;
}

#animatedModalBoasVindaLogin #btn-close-modal {
    width:100%;
    text-align: center;
    cursor:pointer;
    color:#fff;
    margin-top: 0rem;
}

#animatedModalBoasVindaLogin .tela-boas-bindas{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%); 
        -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
}

#animatedModalBoasVindaLogin .closebt:hover {
    transform: rotate(1080deg);
    -webkit-transform: rotate(90deg);
}

#animatedModalBoasVindaLogin .title-cpt{
    font-family: 'omnes_regularregular', 'Arial', sans-serif !important;
    margin: 2rem 0;
    text-align: center; 
}  

#animatedModalBoasVindaLogin .container-pub{
    margin: 0 auto;
    width: 45rem;
}  

#animatedModalBoasVindaLogin .title-cpt h2{
    font-family: 'omnesbold', 'Arial', sans-serif;
    font-size: 2rem;
    color: #FFF;
    text-transform: uppercase;
} 

#animatedModalBoasVindaLogin .blocks-div{
    margin: 0 auto;
    width: 50rem;
}

#animatedModalBoasVindaLogin .block-left{
    float: left;
    position: relative;
    z-index: 9999;
    margin-left: 1rem;
}

#animatedModalBoasVindaLogin .block-right{
    width: 35rem;
    float: left;
    margin-left: -1rem;
}

#animatedModalBoasVindaLogin .block-left img{
    width: 100%;
    padding-top: 1.4rem;
}

#animatedModalBoasVindaLogin .primeiro-acesso{
    background: #2c3e50;
    padding: 1rem;
    border-bottom: .5rem solid #1a242f;
}

#animatedModalBoasVindaLogin .primeiro-acesso p{ 
    text-transform: uppercase;
    font-size: 1rem;
    color: #FFF;
    text-align: center;
    padding-top: 1rem;
    font-family: 'omnesbold', 'Arial', sans-serif;
    font-size: 2rem;
} 

#animatedModalBoasVindaLogin .texto-primeiro-acesso{
    background: #16a085;
    padding: 1rem;
}  

#animatedModalBoasVindaLogin .texto-primeiro-acesso p{
    font-size: 1rem;
    color: #FFF;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 1.5rem;
}  

#animatedModalBoasVindaLogin .texto-primeiro-acesso p.login-senha{
    font-size: 2rem;
    color: #FFF;
    text-align: center;
    padding-top: 1rem;
    font-family: 'omnesbold', 'Arial', sans-serif;
}  

#animatedModalBoasVindaLogin .block-senha-login{
    background: #1abc9c;
    padding: 1rem;
}  

#animatedModalBoasVindaLogin .text-uppercase{
    text-transform: uppercase;
}
