
#impressao {
     position: absolute; 
     top: 0; 
     left: 0; 
     right: 0; 
     bottom: 0; 
     background: rgba(0,0,0,0.8); 
     z-index: 99999;
     overflow: hidden;
}

.opcoesImpressao {
    position: fixed !important;
    top: 20px !important;
    left: 50% !important;
    background: #ededed !important;
    padding: 7px 0 !important;
    text-align: center !important;
    height: 60px;
}

.retrato .opcoesImpressao {
    width: 900px;
    margin-left: -450px;
}

.paisagem .opcoesImpressao {
    width: 1200px !important;
    margin-left: -600px !important;
}

#divImagensImpressao {
    position: absolute;
    border-top: 0;
    top: 68px;
    left: 50%;
    bottom: 20px;
    background: #ededed;
    overflow-y: auto;
    text-align: center;
}

#divImagensImpressao > div {
    background: #fff;
    padding: 1cm;
    margin: 0 auto !important;
}


.retrato #divImagensImpressao {
    width: 900px;
    margin-left: -450px;
}

.paisagem #divImagensImpressao {
    width: 1200px;
    margin-left: -600px;
}

.retrato[tipo='76mm'] #divImagensImpressao > div,
.retrato[tipo='76mm_demonstrativa'] #divImagensImpressao > div {
    width: 76mm !important;
}

.retrato[tipo='A4'] #divImagensImpressao > div,
.retrato[tipo='A4_sem_cabecalho'] #divImagensImpressao > div,
.retrato[tipo='A4_demonstrativa'] #divImagensImpressao > div,
.retrato[tipo='A4_sem_cabecalho_sem_rodape'] #divImagensImpressao > div,
.retrato[tipo='A4_sem_cabecalho_demonstrativa'] #divImagensImpressao > div,
.retrato[tipo='A4_sem_cabecalho_sem_rodape_demonstrativa'] #divImagensImpressao > div{
    width: 198mm !important;
}

.retrato[tipo='etiqueta-carta-pequena'] #divImagensImpressao > div,
.retrato[tipo='etiqueta-carta-grande'] #divImagensImpressao > div,
.retrato[tipo='etiqueta-carta-media'] #divImagensImpressao > div,
.retrato[tipo='etiqueta-a4-pequena'] #divImagensImpressao > div,
.retrato[tipo='etiqueta-a4-media'] #divImagensImpressao > div,
.retrato[tipo='etiqueta-a4-grande'] #divImagensImpressao > div {
    width: 198mm !important;
}

.paisagem #divImagensImpressao > div {
    width: 277mm !important;
} 

#divImagensImpressao p {
    color: #000 !important;   
}

#divImagensImpressao p {
    margin: 0 !important;   
}

#divImagensImpressao .classRelMovContas p:first-child {
    line-height: 35px !important;    
}

#divImagensImpressao hr {
    border-top: 1px solid #000 !important;
}

#divImagensImpressao .logoRelatorio {
    height: 88px !important;   
}

#divImagensImpressao .tableCrediario p{
    text-align: left;
    margin: -2px !important;
}

#divImagensImpressao .logoRelatorioCarne {
    height: 70px !important;
}